---
import Layout from "../layouts/BaseLayout.astro";
---

<Layout title="Home" description="This is the about page">
  <h1>About Page!</h1>
  <p>This is the main content of the about page.</p>
</Layout>
