---
import Layout from "../layouts/BaseLayout.astro";
---

<Layout title="Home" description="This is the homepage">
  <h1>Welcome to my Contact!</h1>
  <p>This is the main content of the Contact page.</p>
</Layout>
